<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/cities" class="btn btn-info">List Cities</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addcity" class="btn btn-info">Add City</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="background">
  <svg viewBox='0 0 100% 100%' xmlns='http://www.w3.org/2000/svg'>
    <filter id='noiseFilter'>
      <feTurbulence 
        type='fractalNoise' 
        baseFrequency='1.23' 
        numOctaves='1' 
        stitchTiles='stitch'/>
    </filter>
    
    <rect width='100%' height='100%' filter='url(#noiseFilter)'/>
  </svg>

  <img src="assets/L3-sun.png" 
       id="js-logo" />
</div>
